/*Formata todo o body com a mesma fonte e cor de fundo.*/
body {
  font-family: "Arial", sans-serif;
  background-color: rgb(174, 176, 172);
}

/*Formata o container principal da página
  para que os elementos fiquem em coluna.*/
.container {
  display: flex;
  flex-direction: column;
}

/*Define a cor da brand na barra de navegação. 
  O !important é usado para garantir que a cor seja 
  aplicada por cima dos estilos definidos
  pelo Bootstrap.*/
.navbar-brand {
  color: #f1d433 !important;
}

/*Formata os links da barra de navegação para que fiquem 
  com a mesma cor e tamanho.*/
.nav-link {
  color: #a8ebe8 !important;
  font-size: 40px;
}

/*Formata os links da barra de navegação para que
  quando o mouse passa por cima deles a sua cor mude.*/
.navbar ul li a:hover {
  background-color: #898484;
  color: #f3d009 !important;
}

/*Formata o texto do carrossel para que fique em posição absoluta
  (independente do resto do conteúdo), com espaçamento em relação ao topo e à esquerda
  e com cor branca e tamanho grande.*/
.carousel-text {
  position: absolute;
  top: 10%;
  left: 20%;
  color: white;
  font-size: 70px;
}

/*Define nos contentore com esta classe uma imagem de fundo 
  que cobre todo o container e fica centrada.*/
.bg-overlay {
  background-size: cover;
  background-position: center;
  min-height: 400px;
  height: auto;
}

/*Formata os contentores com esta classe para que tenham 
  uma imagem de fundo, um espaçamento interno, cor do texto, 
  tamanho da fonte, altura e alinhamento do texto.*/
.text-overlay1 {
  background-image: url("../images/computers_dark.jpg");
  padding: 100px;
  color: rgb(246, 246, 250);
  font-size: 40px;
  /*height: 500px;*/
  text-align: right;
}

.text-overlay2 {
  background-image: url("../images/computers1_dark.png");
  padding: 50px;
  color: rgb(253, 250, 250);
  font-size: 40px;
  /*height: 600px;*/
  text-align: left;
}

.text-overlay3 {
  background-image: url("../images/gaming2.jpg");
  padding: 50px;
  color: rgb(251, 246, 246);
  font-size: 50px;
  height: 700px;
  text-align: right;
}

/* Tamanho do texto dos jogos JavaScript.*/
.game-text {
  font-size: 30px;
}

/* Tamanho do link dos jogos JavaScript. */
.game-link {
  font-size: 15px;
}

.text-overlay4 {
  background-image: url("../images/simulation.jpg");
  padding: 50px;
  color: rgb(252, 249, 249);
  font-size: 50px;
  height: 700px;
  text-align: left;
}

/*Formata a área de contact me para que tenha uma imagem de fundo, 
  um espaçamento interno, cor do texto, tamanho da fonte, altura 
  e alinhamento do texto.*/
.contact-section {
  background-image: url("../images/contactme_image.jpeg");
  background-size: cover;
  background-position: center;
  background-color: #2c2c2c;
  padding: 100px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Formata o container do formulário de contacto para que fique centrado
  e com uma largura máxima.*/
.contact-container {
  text-align: center;
  width: 100%;
  max-width: 600px;
}

/*Formata o título da secção de contacto para que tenha uma cor, 
  uma fonte, um tamanho, um espaçamento inferior, uma sombra no texto,
  uma cor de fundo, um espaçamento interno, cantos arredondados e 
  fique em linha respeitando as dimensões altura e largura.*/
.contact-title {
  color: #f3f5f3;
  font-family: "Arial", sans-serif;
  font-size: 4rem;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.2);
  padding: 05px;
  border-radius: 15px;
  display: inline-block;
}

/* Formata verticalmente os elementos do formulário de contacto. */
.email-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px; /* Espaço entre o email, a mensagem e o botão. */
}

/* Garante que os campos ocupam toda a largura disponível. */
.input-wrapper {
  width: 100%;
}

/* formata o estilo que serve tanto para o input como para a textarea. */
.custom-input {
  background-color: whitesmoke !important;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 0;
  color: rgb(6, 0, 0) !important;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 5px 0;
  box-shadow: none !important;
}

/* Especificidade para a textarea, permite redimensionar
   apenas na vertical. */
textarea.custom-input {
  resize: vertical;
  min-height: 80px;
}

/* Formata o texto do placeholder para que tenha 
   uma cor diferente */
.custom-input::placeholder {
  color: rgb(4, 0, 0) !important;
  opacity: 0.5 !important;
}

/*Formata o texto que o user escreve.*/
.custom-input:focus {
  color: white;
  border-color: white;
}

/* Formata o botão de envio para que tenha uma cor de fundo, 
   uma borda, uma cor do texto, uma fonte, um tamanho da fonte,
   um espaçamento interno, cantos arredondados, altura da linha,
   cursor pointer e uma transição suave na cor de fundo. */
.custom-submit {
  background-color: rgb(38, 37, 37, 0.8);
  border: 2px solid white;
  color: rgb(245, 143, 55) !important;
  font-family: "Arial", cursive;
  font-size: 1.2rem;
  padding: 8px 25px;
  border-radius: 0;
  line-height: 1.2;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Formata o botão de envio quando o mouse passa por cima, para que 
   tenha uma cor de fundo e texto diferente. */
.custom-submit:hover {
  background-color: rgb(41, 34, 34);
  color: rgb(194, 235, 143) !important;
}

/* Formatação para ecrãs com largura máxima de 768px 
   (telemóveis e tablets). A font-size é em rem (relativo).
   para se adaptar às preferência do utilizador. */
@media (max-width: 768px) {
  .contact-title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
}

/* Regras para telemóveis muito pequenos.*/
@media (max-width: 480px) {
  p {
    font-size: 25px;
  }
  .text-overlay3 {
    height: 300px;
  }

  .text-overlay4 {
    height: 300px;
  }
  .contact-title {
    font-size: 2.5rem;
  }

  .game-text {
    font-size: 10px;
  }

  .game-link {
    font-size: 8px;
  }
}
